* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #ef7e24;
    color: #333;
    padding: 16px;
}

.container {
    max-width: 750px;
    margin: auto;
    background-color: #ffffff;
    padding: 26px;
    border-radius: 8px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #ef7e24;
    font-size: 1.8rem;
}

fieldset {
    border: none;
    margin-bottom: 20px;
}

legend {
    font-weight: bold;
    margin-bottom: 12px;
    color: #ef7e24;
    font-size: 1rem;
}

.form-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    margin-bottom: 16px;
}

.form-group.full {
    grid-template-columns: 1fr;
}

label {
    display: block;
    color: #444;
    font-weight: bold;
    margin-bottom: 6px;
    font-size: .8rem;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"] {
    width: 100%;
    padding: 14px;
    margin-top: 6px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
    transition: border 0.3s ease;
}

input#canal {
    width: 100%;
    /* padding: 12px;
    font-size: 16px; */
    border-radius: 8px;
    border: 1px solid #ccc;
}

.autocomplete-wrapper {
    position: relative;
    width: 100%;
}

.sugestoes-lista {
    position: absolute;
    width: 100%;
    background: white;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 8px 8px;
    font-size: 12px;
    overflow-y: auto;
    margin-top: -6px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    max-height: 130px;
    z-index: 1000;
    list-style: none;
    display: none;
    box-shadow: 0px 5px 5px #25252554;
}

.sugestoes-lista ::-webkit-scrollbar {
    /* display: none; */
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.sugestoes-lista li {
    padding: 10px;
    cursor: pointer;
}

.sugestoes-lista li:hover {
    background-color: #ef7e24;
    color: white;
}

input:focus {
    outline: none;
    border-color: #ef7e24;
}

.radio-group {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.radio-group label {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 0.95rem;
    padding: 6px 10px;
    border-radius: 6px;
    cursor: pointer;
    background-color: #ececec;
    padding: 8px 12px;
    border-radius: 8px;
    border: 1px solid #ddd;
    transition: background-color 0.2s ease, border 0.2s ease;
}

.radio-group label:hover {
    background-color: #f1f1f1;
    border-color: #ef7e24;
}

.radio-group input[type="radio"] {
    accent-color: #ef7e24;
    cursor: pointer;
}

button {
    background-color: #ef7e24;
    color: white;
    padding: 16px;
    width: 100%;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

button:hover {
    background-color: #d96f1e;
}

/* Tooltip ajustes */
.tooltip-container {
    position: relative;
    cursor: pointer;
    color: #ef7e24;
    font-size: 14px;
}

.tooltip-text {
    visibility: hidden;
    opacity: 0;
    min-width: 380px;
    max-width: 520px;
    background-color: #fff;
    color: #333;
    text-align: left;
    padding: 14px;
    border-radius: 8px;
    position: absolute;
    z-index: 1000;
    top: 120%;
    left: 0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    transition: opacity 0.5s ease;
    font-size: 12px;
    line-height: 1.7;
    border: 1px solid #ccc;
}

.tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}


@media screen and (max-width: 720px) {
    body {
        padding: 8px;
    }

    h2 {
        font-size: 1.4rem;
    }

    .form-group {
        display: grid;
        grid-template-columns: 1fr !important;
    }

    .radio-group {
        gap: 10px;
    }

    .container {
        padding: 16px;
    }

    fieldset {
        margin-bottom: 8px;
    }

    label #text {
        font-size: .9rem;
    }

    label input #text {
        font-size: .7rem;
        font-weight: 700;
    }

    .radio-group label {
        gap: 4px;
        padding: 4px;
        text-align: center;
        font-size: 14px;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="date"] {
        font-size: .9rem;
        padding: 10px;

    }

    .radio-group input[type="radio"] {
        transform: scale(.8);
    }

    span .tooltip-text {
        display: flex;
        padding: 8px;
        position: fixed;
        /* left: -100%; */
        top: 50%;
        width: fit-content;
        margin: 0;
    }

    button {
        font-size: 1rem;
        padding: 8px;
    }
}